@(gc: List[Gratitude_Card])(par: String)(show: List[String])(pos : Map[String,Array[String]])
@import views.html.template._
@import models._
@import java.util.Date;
@import java.util.Calendar;


@sdf= @{new java.text.SimpleDateFormat("YYYY/MM/dd")}
@range = @{Range(0, gc.size)}
@c = @{Calendar.getInstance()}
@{c.setTime(new Date())}
@nowCS = @{CaseStudy.find.where().eq("year",c.get(Calendar.YEAR)).eq("month",c.get(Calendar.MONTH)+1).findUnique()}
@post = @{SelectGC.trans(pos)}



<!-- gc ソート、絞り込み済み感謝カードリスト　par 権限 show　一覧表示項目(左から) -->
<!--　日付　ソート
　部署、送信者、カテゴリ　絞り込み-->

																			@{/*              日付                       */}
		<div class="select_date" style="text-align: right;">
		@for(str <- show){
			@if(str == SelectGC.name.get("date_range")){
				<input type="date" name="start_date"  value="@post.get("start_date")" onChange="this.form.submit()">から<br>
				<input type="date" name="end_date" value="@post.get("end_date")"  onChange="this.form.submit()">まで<br>

			}
		}
		</div>
		<table class= "ichiran_index">
			<tr>



				@for(str <- show){
					@if(str == SelectGC.name.get("sender_department")){
						<th class="sender_department"><select name="sender_department" onChange="this.form.submit()" />
						<option>@SelectGC.name.get("sender_department")</option>
							@for(dep <- Department.find.all()){
								@if(dep.department_name == post.get("sender_department")){
									<option selected>@dep.department_name</option>
								}else{
									<option>@dep.department_name</option>
								}
							}
						</select></th>

					}
					@if(str == SelectGC.name.get("receiver_department")){
						<th class="receiver_department"><select name="receiver_department" onChange="this.form.submit()" />
						<option>@SelectGC.name.get("receiver_department")</option>
							@for(dep <- Department.find.all()){
								@if(dep.department_name == post.get("receiver_department")){
									<option selected>@dep.department_name</option>
								}else{
									<option>@dep.department_name</option>
								}
							}
						</select></th>
					}
					@if(str == SelectGC.name.get("sender")){
						<th class="sender"><select name="sender" onChange="this.form.submit()" />
						<option>@SelectGC.name.get("sender")</option>

						@for(dep <- Department.find.all()){
							@if(dep.department_name == post.get("sender_department") || post.get("sender_department") == SelectGC.name.get("sender_department")){
								<optgroup label="@dep.department_name">
									@for(emp <- Employees.find.where().eq("department_id", dep).findList()){
										@if(emp.name == post.get("sender")){
											<option selected>@emp.name</option>
										}else{
											<option>@emp.name</option>
										}
									}
								</optgroup>
							}
						}
					}
					@if(str == SelectGC.name.get("receiver")){
						<th class="receiver"><select name="receiver" onChange="this.form.submit()" />
						<option>@SelectGC.name.get("receiver")</option>

						@for(dep <- Department.find.all()){
							@if(dep.department_name == post.get("receiver_department") || post.get("receiver_department") == SelectGC.name.get("receiver_department")){
								<optgroup label="@dep.department_name">
									@for(emp <- Employees.find.where().eq("department_id", dep).findList()){
										@if(emp.name == post.get("receiver")){
											<option selected>@emp.name</option>
										}else{
											<option>@emp.name</option>
										}
									}
								</optgroup>
							}
						}
					}
					@if(str == SelectGC.name.get("date")){
						<th class="date">@SelectGC.name.get("date")</th>
					}
					@if(str == SelectGC.name.get("title")){
						<th class="card_title">@SelectGC.name.get("title")</th>
					}
					@if(str== SelectGC.name.get("category")){
						<th class="category" ><select name="category" onChange="this.form.submit()" />
						<option >@SelectGC.name.get("category")</option>
							@for(cat <- Category.find.all()){
								@if(cat.category_name == post.get("category")){
									<option selected>@cat.category_name</option>
								}else{
									<option>@cat.category_name</option>
								}
							}
					}
					@if(str == "ピックアップ"){
						<th class="pickup"><select name="pickup" onChange="this.form.submit()" />
						<option>すべて</optiron>
							@for(pick <- SelectGC.name.get("selected") :: Nil){ @{/*SelectGC.name.get("removed") */}
								@if(pick == post.get("pickup")){
									<option selected>@pick</option>
								}else{
									<option>@pick</option>
								}
							}
					}
				}
			<th class="search"><input type="submit" value="更新" /></th>

			</tr>
		</table>
	</form>

</div>
<table class="line"></table>
<div class="ichiran_contents ichiran_width">
	<table class= ichiran_table>
		@for(i <- range){

			<tr>
				@for(str <- show){
					@if(str == "送信部署"){
						<td class="sender_department">@gc.get(i).sender_id.department_id.department_name</td>
					}else{@if(str == "送信者"){
						<td class="sender">@gc.get(i).sender_id.name</td>
					}else{@if(str == "受信部署"){
						<td class="receiver_department">@gc.get(i).receiver_id.department_id.department_name</td>
					}else{@if(str == "受信者"){
						<td class="receiver">@gc.get(i).receiver_id.name</td>
					}else{@if(str == "日付"){
						<td class="date">@sdf.format(gc.get(i).date)</td>
					}else{@if(str == "タイトル"){
						<td class="card_title">@gc.get(i).card_title</td>
					}else{@if(str=="カテゴリ"){
						<td class="category">@gc.get(i).category_id.category_name</td>
					}else{@if(str=="ピックアップ"){
						<td class="pickup">
							@if(gc.get(i).cs.contains(nowCS)){
								<button form="selectForm" type="submit" name="del_pickup" value="@gc.get(i).card_id" >解除</button>
							}else{
								<button form="selectForm" type="submit" name="sel_pickup" value="@gc.get(i).card_id" >登録</button>
							}
						</td>

					}}}}}}}}
				}
			<th><form name="syousai" action="@routes.TestController.syousai()" target="iframe" method="POST">
			<input type="hidden" name="CardNumber" value="@gc.get(i).card_id" /><input type="submit" value="詳細" /></form></th>
			</tr>

		}
	</table>
</div>
<br>
<div style="text-align: center;">
<iframe  name="iframe" src="@routes.TestController.syousaiGet()"></iframe>
</div>


