
@(title: String)(par: String)(headH: Html)(content: Html)
@import views.html.template._

<!-- 引数 タイトル,権限,ヘッダ追記内容,内容 -->
@template(title){
		@headH
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/sideMenu.css")">

	}{
	<nav>
     <div id="button-box">
     <table class="sidemenu-table"  border="0" cellspacing="0" cellpadding="0">
			<tr><td class="img-td"><img src="@routes.Assets.versioned("images/hito.png")" class="img-table"></td><td><input type="button" value="カード作成" id="button_submit"><br></td></tr>
			<tr><td class="img-td"><img src="@routes.Assets.versioned("images/bbs.png")" class="img-table"></td><td><input type="button" value="掲示板" id="button_submit"></td></tr>
	        <tr><td class="img-td"><img src="@routes.Assets.versioned("images/mail.png")" class="img-table"></td><td><input type="button" value="送信箱" id="button_submit"></td></tr>
	        <tr><td class="img-td"><img src="@routes.Assets.versioned("images/mail.png")" class="img-table"></td><td><input type="button" value="受信箱" id="button_submit"></td></tr>
	        <tr><td class="img-td"><img src="@routes.Assets.versioned("images/search.png")" class="img-table"></td><td><input type="button" value="検索" id="button_submit"></td></tr>
			<tr><td class="img-td"><img src="@routes.Assets.versioned("images/sentaku.png")" class="img-table"></td><td><input type="button" value="事例の選択" id="button_submit"></td></tr>
			<tr><td class="img-td"><img src="@routes.Assets.versioned("images/satei.png")" class="img-table"></td><td><input type="button" value="査定" id="button_submit"></td></tr>
			<tr><td class="img-td"><img src="@routes.Assets.versioned("images/good.png")" class="img-table"></td><td><input type="button" value="ピックアップ" id="button_submit"></td></tr>
			<tr><td class="img-td"><img src="@routes.Assets.versioned("images/bbs_detail.png")" class="img-table"></td><td><input type="button" value="経営掲示板" id="button_submit"></td></tr>
			<tr><td class="img-td"><img src="@routes.Assets.versioned("images/logout.png")" class="img-table"></td><td><input type="button" value="ログアウト" id="button_submit"></td></tr>
	 </table>
      </div>
	</nav>
	<div =id"section_box">
		<section>

		</section>
	</div>
}