/**********sideMenu.cssの色***********/
section {
background-color:#ffffff;
 }
#button-box input#button_submit {
background:#8eb4d9;
color:#ffffff;
}
#button-box input#button_submit:hover{
background:#487ca3;
}

/*********ここらからichiran.cssの色****************/
/*表の色を1行ごとに変える*/
.ichiran_table tr:nth-of-type(odd) td{background-color:#8eb4d9;border: 2px }
.ichiran_table tr:nth-of-type(even) td{background-color:#487ca3;border: 2px }
/*詳細ボタンがマウスオーバー&押された時*/
.ichiran_table input:focus{background-color:#c0c0c0;}
.ichiran_table input:hover{background-color:#c0c0c0;}
/*角の丸い線*/
.line{border:#808080;}