body{
font-family: Verdana,Helvetica, arial, sans-serif;
height : 99%;
}
html {
    height: 98%;
}
nav {
     float : left;
     text-align :left;
     width : 20%;
     height : 100%;
  background-color:red/*#004679*/;
 }
#section_box{
width: 80%;
height:100%;
 }
section {
float : right;
background-color : #66FF99;
width : 80%;
height:100%;
 }
#button-box{
	width:100%;
	height:100%

}
#button-box input#button_submit {
        font-size: 20px;
        border-style: none;
	  height :100%;
	width:100%;
	background:#8eb4d9;
	color:#ffffff;
	text-decoration:none;
    margin: 0 auto;
    background-position: left ;
}
#button-box input#button_submit:hover{
	font-weight:bold ;
	text-decoration:none;
	background:#487ca3;
	  height :100%;
	      background-position: left ;
}
.sidemenu-table{
width:100%;
height :100%;
}
img{
margin: 0 auto;
	width:100px;
}
