@(loginForm: Form[Login])

@import helper._
<head>

	<meta charset="UTF-8">
    <title>ログイン画面</title>
<SCRIPT type="text/javascript">
</SCRIPT>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">


</head>
<html>
    <body bgcolor="#29454d">
    <div id="form-container">

   <div class="circle"><img src="@routes.Assets.versioned("images/Lock.png")" class ="lock"></div>
   @if(loginForm.hasGlobalErrors){
   		<p class = "error">
   		   @loginForm.globalError.message
   		</p>
   		}
        @form(routes.AuthController.authenticate()) {
<div id="login_foam">
        <a  id="tab">@inputText(loginForm("Username"))</a>
        <a  id="tab">@inputPassword(loginForm("Password"))</a>
</div>
        <input type="submit"value="Login" class="submit-button">
        }
        </div>
    </body>
</html>