@(gc : List[Gratitude_Card])(par : String)(pos : Map[String,Array[String]])
@import views.html.template._
@cat = @{models.Category.find.all}
@emp = @{models.Employees.find.all}
@onSideMenu("掲示板")(""){
	<link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/ichiran.css")">
	}{

	<h2>掲示板</h2>

	<div class= "ichiran_width">

	<form id="selectForm" name="selectForm" action="@routes.HomeController.bbsPost" method="POST">
		@par <br>

		@ichiran(gc)(par)("日付" :: "カテゴリ" :: "送信部署" :: "送信者" ::"受信部署" :: "受信者" :: "タイトル" :: Nil)(pos)


	}