@(gc : Gratitude_Card ,cs : CaseStudy)
@import views.html.template._
@cat = @{models.Category.find.all}
@emp = @{models.Employees.find.all}
@onSideMenu("掲示板")(""){
	}{
	@cs.gc.get(0).card_title <br>
	@gc.category_id.gc.get(0).sender_id.name




	<h2>掲示板</h2>

    <table border="1" height="200" width="700" bgcolor="#ccffcc" align="center">

    <tr>
		<form name="selection">

		<th><input type="date" name="date" placeholder="2016-01-01"></th>

		<th><select name="select">
				<option value="category">-- カテゴリ --
					 @for(ct <- cat){
                         	<option> @ct.category_name </option>
                         }
		</th></select>

		<th><select name="sender">
				<option value="send">-- 送信者 --
					 @for(em <- emp){
                         	<option> @em.name </option>
                      }
		</th></select>

		<th><select name="recipient">
				<option value="res">-- 受信者 --
					 @for(em <- emp){
                         	<option> @em.name </option>
                      }
		</th></select>

		<th><input type="text" name="text1" value="　　　　　件名" readonly></th>
		</tr>

		<tr>
			<td>5月24日</td>
			<td>デバッグ</td>
			<td>管理部　竹中</td>
			<td>開発部　佐藤</td>
			<td>デバックの件</td>
		</tr>
		<tr>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
		</tr>
		<tr>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
		</tr>
		<tr>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
		</tr>
		<tr>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
			<td>　　　　</td>
		</tr>
		</form>
	}