<html>
	<body>
		<h2>掲示板</h2>


		<form name="selection">
			<select name="date">
				<option value="day">-- 日付 --
				
			</select>
			<select name="select">
				<option value="category">-- カテゴリ --
				<option value="debug">デバッグ
			</select>
			<select name="sender">
				<option value="send">-- 送信者 --
				<option value="debug">管理部　竹中
			</select>
			<select name="recipient">
				<option value="res">-- 受信者 --
				<option value="debug">開発部　佐藤
			</select>
			<input type="text" name="text1" value="件名" readonly>
			<input type="text" name="text1" value="本文" readonly>
		</form>


	</body>
</html>