@import views.html.template._
@import models._
@busyo = @{models.Department.find.all}
@template("変更入力画面"){
	}{


<h1>変更入力画面</h1>

<form name="form1" method="get" onsubmit="gettext(this)">


                   <Div Align="center">

                         <p><label for="name">変更する人物</label>　　　　　　　部署
                         <select name="sel_bunruiA" onChange="selectBunruiA(this)">
                         <option value="">部署</option>
                         </select>



                         </select>　　　　　　名前
                         <select name="sel_bunruiB" width="100px"><option value="">社員</option></select>
                         <input type="hidden" name="search" value=""></input>
                         </form>



                         <label for="name">変更部署選択</label><br><br>
                           <select name="部署">
                         <option selected="スペース"></option>
                         @for( b <- busyo){
                         	<option > @b.department_name </option>
                         }
                         </select>



                         <p><label for="title">名前の変更</label><br>                         <input type="text" id="title" name="title" value=""></p>

                          </Div>

                   <Div Align="right">
                     <input type="submit" id="submit" value="削除">
                     <input type="submit" id="submit" value="登録">
                     <input type="submit" id="submit" value="クリア">
                    </Div>
	}
	<script type="text/javascript" language="JavaScript">

    //最初の分類リスト (分類Aリスト)を定義
    var bunruiA = new Array("部署1","部署2","部署3","部署4","部署5","人事6");

    // 次の分類(分類Aごとの分類Bリスト)を定義
    var bunruiB = new Array();

    @for(dep <- Department.find.all()){

    	bunruiB["@dep.department_name"]= new Array();
    			@for(emp <- Employees.find.where().eq("depatrment_id", dep).findList()){
    				bunruiB["@dep.department_name"].push("@emp.name");
    			}
    }



    // 分類Aの選択リストを作成
    createSelection( form1.elements['sel_bunruiA'], "部署", bunruiA, bunruiA);

    ////////////////////////////////////////////////////
    //
    // 選択ボックスに選択肢を追加する関数
    //	引数: ( selectオブジェクト, value値, text値)
    function addSelOption( selObj, myValue, myText )
    {
        selObj.length++;
        selObj.options[ selObj.length - 1].value = myValue ;
        selObj.options[ selObj.length - 1].text  = myText;

    }
    /////////////////////////////////////////////////////
    //
    //	選択リストを作る関数
    //	引数: ( selectオブジェクト, 見出し, value値配列 , text値配列 )
    //
    function createSelection( selObj, midashi, aryValue, aryText )
    {
        selObj.length = 0;
        addSelOption( selObj, midashi, midashi);
        // 初期化
        for( var i=0; i < aryValue.length; i++)
        {
            addSelOption ( selObj , aryValue[i], aryText[i]);
        }
    }
    ///////////////////////////////////////////////////
    //
    // 	分類Aが選択されたときに呼び出される関数
    //
    function selectBunruiA(obj)
    {
        // 選択肢を動的に生成
        createSelection(form1.elements['sel_bunruiB'], "社員",
                bunruiB[obj.value], bunruiB[obj.value]);

    }
    /////////////////////////////////////////////////
    // submit前の処理
    function gettext(form){
        var a = form1.sel_bunruiA.value;   // 分類1
        var b = form1.sel_bunruiB.value;   // 分類2
        // ANDでつなげる
        form1.elements['search'].value = a+' AND '+b;
        alert(form1.elements['search'].value );
    }


</script>


